/* Обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
html,
body {
   height: 100%;
   line-height: 1;
   background: #fafafa;
   font-size: 14px;
   color: #252b42;
   font-weight: 500;
   font-family: Montserrat;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
._container {
   max-width: 1080px;
   margin: 0 auto;
   padding: 0 15px;
}
._ibg {
   position: relative;
}
._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover;
}
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 23;
}
.header__container {
   display: flex;
   min-height: 104px;
   align-items: center;
}

.header__logo {
   font-weight: 700;
   font-size: 24px;
   line-height: 32px;
   letter-spacing: 0.1px;
   color: #252b42;
}
.menu {
   margin: 0 0 0 132px;
  
}
@media (max-width: 992px) {
   .menu {
      margin: 0 0 0 80px;
   }
}
@media (max-width: 767px) {
   .menu {
      margin: 0 0 0 40px;
   }
}
@media (max-width: 479px) {
   .menu {
      margin: 0 0 0 20px;
   }
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
}
.menu__link {
   font-weight: 600;
   font-size: 14px;
   line-height: 24px;
   -align: center;
   letter-spacing: 0.2px;
   color: #737373;
}
.menu__item {
   margin-right: 21px;
}
.menu__item :last-child {
   margin-right: 0;
}
/*---MAIN------------------------------------------------------*/
.main {
   flex: 1 1 auto;
   background: #FAFAFA;
}

.hero-block {
   position: relative;
}

.hero-block__body {
   position: relative;
   z-index: 2;
   padding: 190px 0 191px 0;
   max-width: 400px;
}
@media (max-width: 992px) {
   .hero-block__body {
      padding: 80px 0 160px 0;
     
   }
}
@media (max-width: 479px) {
   .hero-block__body {
      max-width: none;
     
   }
}



.hero-block__title {
   font-weight: 800;
   font-size: 58px;
   line-height: 80px;
   letter-spacing: 0.2px;
   color: #252b42;
   
}
@media (max-width: 479px) {
   .hero-block__title {
      font-weight: 800;
      font-size: 42px;
      line-height: 137%;
      letter-spacing: 0.2px;
      color: #252b42;
   }
}
.hero-block__sub-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #737373;
   margin-top: 35px;
}
.hero-block__buttons {
   margin-top: 35px;
   display: flex;
   flex-wrap: wrap;
}
.hero-block__button {
   font-weight: 700;
   font-size: 14px;
   line-height: 28px;
   text-align: center;
   padding: 10px 0;
   letter-spacing: 0.2px;
   color: #ffffff;
   min-width: 187px;
   height: 48px;
   background: #ff7b47;
   border-radius: 37px;
   transition: all 0.3s ease 0s;
}
.hero-block__button:hover{
   background-color: #fff;
	color: #ff7b47;
}
.hero-block__button-learn {
   font-weight: 700;
   font-size: 14px;
   line-height: 28px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #0d5c63;
   padding: 10px 0;
   min-width: 157px;
   height: 48px;
   border: 1px solid #0d5c63;
   border-radius: 37px;
   transition: all 0.3s ease 0s;
}
.hero-block__button-learn:hover{
   background-color: #0d5c63;
	color: #fff;
}
@media (min-width: 479px) {
   .hero-block__button {
      margin-right: 10px;
   }
  
}
@media (max-width: 479px) {
   .hero-block__button {
      flex: 1 1 auto;
   }
   .hero-block__button-learn {
      flex: 1 1 auto;
      margin: 10px 0;
   }
   .hero-block__buttons {
      flex-direction: column;
   }
}
.hero-block__img {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}
@media (max-width: 1300px) {
   .hero-block__img img {
      object-position: right;
   }
}
@media (max-width: 992px) {
   .hero-block__img img {
      opacity: 0.5;
   }
}
.main-services {
}
.servises__container {
}

.servises__body {
   display: flex;
margin: 0 -15px;
   margin: -111px 0 0 0;
   position: relative;
   z-index: 2;
    flex-wrap: wrap; 
}

@media (max-width:992px){
   .servises__column:not(:last-child) {
      margin-bottom: 30px; 
   }

}
.servises__column {
padding: 0 15px;
 flex: 0 1 33.3333%;  

}
.servises__column:last-child {
margin:0 0 0 0;
}
@media (max-width:992px){
   .servises__column{
      flex: 1 1 50%; 
   }
   .servises__column:last-child{
      flex: 1 1 auto;  
   }
}
.servises__item {
   height: 100%;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
background-color: #ffffff;
padding: 35px 45px;
transition: all 0.3s ease 0s;
}
@media (max-width:690px){
   .servises__column {
    flex-direction: column;
         flex: 1 1 auto;  
         padding:0 ;
         width: 280;
        
      } 
      .servises__item {
      padding: 20px 15px;
      border-radius: 20px;
      }
}
 .servises__item:hover{
   background: #0D5C63;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07); 
} 
.servises__item:hover svg path {
   fill: #ffffff;
   }
.servises__item-icon {
margin-bottom: 10px;
}

.servises__item-title {
   font-weight: 700;
font-size: 24px;
line-height: 32px;
/* or 133% */
letter-spacing: 0.1px;
color: #252B42;
margin-bottom: 10px;
transition: all 0.3s ease 0s;
}
.servises__item:hover .servises__item-title {
color: #ffffff;
}
.servises__item-sub-titile {
   font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
transition: all 0.3s ease 0s;
}
.servises__item:hover .servises__item-sub-titile {
   color: #ffffff;
   }

   .main__advantages {
     padding-top: 74px;
   }
   .advantages__container {
      text-align: center;
   }
 
   .advantages__header {
   }
   .header-block {
  
   }
   .header-block__title {
      
      font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
  
   }
   .header-block__sub-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #737373;
      margin-top: 10px;
   }
   .advanages__row {
      display: flex;
      margin: 50px -15px 0  ;
      flex-wrap: wrap;
   }
   .advantages__column {
      flex: 0 1 25%;
     padding: 0 15px;
    
     min-width: 240px;
   }
   @media (max-width:992px){
      .advantages__column {
         margin-bottom: 30px;
         flex: 0 1 33.33333%;
      }
   }
   @media (max-width:720px){
      .advantages__column {
         flex: 0 1 50%;

      }
      .advantages__item {
         padding: 20px;
      }
   }
   @media (max-width:479px){
      .advantages__column {
         flex: 1 1 100%;

      }
      .advantages__column:last-child {
        margin-bottom: 0;

      }
      .advantages__item {
         border-radius: 20px
      };
   }
   .advantages__item {
      height: 100%;
      background: #FFFFFF;
      padding: 30px ;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .advantages__icon {
      margin-bottom: 10px;
      width: 48px;
      height: 48px;
   }
   .advantages__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 57px;
      letter-spacing: 0.2px;
      color: #252B42;
      margin-bottom: 10px;
   }
   .advantages__sub-title {
      font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #737373;
   }
   .main__practise {
      padding: 125px 0px 80px 0px;
   }
  
  
   .practise__header {
      text-align: center;
      margin: 0px 0px 45px 0px;
   }

   .practise__row {
      display: flex;
      margin: 0 -21px;
    flex-wrap: wrap;
   }
   .practise__column {
      flex: 0 1 25%;
      padding: 0px 21px;
      margin: 0px 0px 30px 0px;
      flex-wrap: wrap;
     
   }
   @media (max-width:1080px){
      .practise__column {
         margin-bottom: 30px;
         flex: 0 1 33.33333%;
      }
   }
   @media (max-width:992px){
      .practise__column {
         flex: 0 1 50%;

      }
     
   }
   @media (max-width:540px){
      .practise__column {
         flex: 1 1 100%;

      }
      .practise__column:last-child {
        margin-bottom: 0;

      }
      .practise__item {
         border-radius: 20px
      };
   }
   .practise__text{
      padding: 30px;
   
   }
   .practise__item {
      min-width: 230px;
      height: 100%;
      background: #FFFFFF;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   .practise__title {
      font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;
margin-bottom: 15px;
   }
   .practise__sub-title {
      font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;

   }
   .practise__img img {
     width: 100%;
   }
   .whoweare {
      padding-top: 100px;
      background-color: #ffffff;
   }
   .whoweare__container {
     
   }
   .whoweare__header {
      text-align: center;
   }
  
   .whoweare__body {
      padding: 100px 0 100px 0;
      display: flex;
      flex-wrap: wrap;
   }
   .whoweare__video {
     
   }
   .whoweare__content {
      margin:20px 0 0 119px;
      font-weight: 700;
    max-width: 333px;
    
   }
   @media (max-width:1100px){
      .whoweare__video  {
      
       flex: 1 1 auto;
       }
       .whoweare__video  img{
         
         width: 100%;
         margin-bottom: 20px;
         }
       .whoweare__content {
          flex: 1 1 auto;
          margin: 0;
          max-width: none;
       }

   }
   .whoweare__top {
   }
   .whoweare__title {
      
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
margin-bottom: 10px;
   }
   .whoweare__sub-titles {
      font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
margin-bottom: 50px;
   }
   .whoweare__items {
     
   }
   .whoweare__item {
      display: flex;
      margin-bottom: 30px;
   }
   .whoweare__item:last-child{
      margin-bottom: 0px;
   }
   .whoweare__item-icon {
      margin-right: 20px;
   }
   .whoweare__item-body {
     
   }
  
   .whoweare__item-title {
      font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;
margin-bottom: 5px;
   }
   .whoweare__item-text {
      font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;

   }
   .clients {
     padding: 50px 0 87px 0;
   }
   @media (max-width: 767px) {
      .clients {
         padding: 30px 0;
      }
   }
   .clients__container {
   }
  
   .client__list {
      display: flex;
     display: flex;
     align-items: center;
     justify-content: center;
    flex-wrap: wrap;
   }
   .client__item {
    padding: 8px 15px;
	flex: 0 1 16.666%;
	text-align: center;
	min-width: 140px;
   }
   
   .client__item img {
      max-width: 100%;
   }
   .subscribe {
      position: relative;
      padding: 0px 0px 20px 0px;
   }
   .subscribe::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 77px;
      left: 0;
      background: #252b42;
   }
   .subscribe__body {
      position: relative;
      z-index: 2;
      padding: 30px 50px;
      align-items: center;
      background: #17213c;
      border-radius: 2px;
   }
   
   @media (min-width: 1070px) {
      .subscribe__body {
         margin: 0px 30px;
      }
   }
   .subscribe__title {
      color: #fff;
      font-size: 133%;
      line-height: 32px;
      font-weight: 700;
      letter-spacing: 0.1px;
   }
   @media (max-width: 810px) {
      .subscribe__title {
         margin: 0px 0px 20px 0px;
      }
      .subscribe__body {
         margin: 0px -15px;
         padding: 20px 15px;
      }
   }
   
   @media (min-width: 810px) {
      .subscribe__title {
         max-width: 266px;
      }
      .subscribe__body {
         display: flex;
         justify-content: space-between;
      }
   }
   
   .subscribe__form {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
   }
   .subscribe__input {
      width: 100%;
      flex: 1 1 auto;
      min-height: 58px;
      background: #f9f9f9;
      color: #737373;
      padding: 0px 20px;
      border: 1px solid #e6e6e6;
      border-right: 0;
      box-sizing: border-box;
      border-radius: 5px 0 0 5px;
   }
   .subscribe__input:focus {
      color: #000;
   }
   
   .subscribe__button {
      background: #ff7b47;
      border: 1px solid #e6e6e6;
      border-radius: 0px 5px 5px 0px;
      display: flex;
      min-height: 58px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-align: center;
      color: #fff;
      transition: all 0.3s ease 0s;
      padding: 0px 22px;
      transition: all 0.3s ease 0s;
   }
   .subscribe__button:hover {
      background: #ca6137;
   }
   @media (max-width: 810px) {
      .subscribe__button {
         padding: 0px 15px;
      }
      .subscribe__input {
         padding: 0px 15px;
      }
   }
   .getintouch {
      padding: 80px 0 178px 0;
   }
   .getintouch__container {
    
   }
   
   .getintouch__header {
      text-align: center;
   }
  
   .getintouch__body {
      display: flex;
      padding: 80px 32px 0 ;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -5px;
   }
   .getintouch__column {
      text-align: center;
      flex: 0 1 33.33333%;
      padding: 0 5px;
   }
   
   .getintouch__item {
      background: #FFFFFF;
      padding: 50px 40px;
      transition: all 0.3s ease 0s;
   }
 
    .getintouch__item:hover{
      background: #252B42;
      padding: 80px 50px;
   } 

   @media(max-width:992px){
      .getintouch__column {
         flex: 0 1 50%;
         margin-bottom: 10px;
      }
   }
   @media(max-width:690px){
      .getintouch__column {
         flex: 0 1 100%;

      }
   }
   @media(max-width:479px){
      .getintouch__item {
         padding: 30px 10px;
      }
      .getintouch__item:hover{
         padding: 35px 15px;
      } 
      .getintouch__body{
         margin: 0;
      }
      .getintouch__column {
         padding: 0;
      }
   }
   .getintouch__item-icon {
      margin-bottom: 15px;
   }
   .getintouch__item:hover svg path{
fill: #ffffff
   }
   .getintouch__item-email {
      margin-bottom: 15px;
   }
   .item-getintouch__email {
      font-weight: 600;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #252B42;
transition: all 0.3s ease 0s;
   }
   .getintouch__item:hover .item-getintouch__email {
      color: #FFFFFF;
         }
   .getintouch__item-label {
      margin-bottom: 15px;
      font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
color: #252B42;
transition: all 0.3s ease 0s;
   }
   .getintouch__item:hover  .getintouch__item-label{
      color: #FFFFFF;
         }
   .item-getintouch__button {
 font-weight: 600;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #FF7B47;
width: 160px;
height: 44px;
border: 1px solid #FF7B47;
border-radius: 5px;
padding: 10px 20px;
transition: all 0.3s ease 0s;
   }
   .getintouch__item:hover .item-getintouch__button  {
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      background-color: #ff7b47;
         }
         .item-getintouch__button:hover{
            background-color: #ff7b47;
         }
 .contact{
   
    background: #ffffff;
 }
 .contact__container {
   padding: 40px 38px 40px 0 ;
}

.contact__body {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.contact__body {
}

.contact__title{
   font-weight: 700;
   font-size: 24px;
   line-height: 32px;
   letter-spacing: 0.1px;
   color: #252B42;
 }
 @media (max-width:690px){
   .contact__container {
   
      padding: 40px 15px ;
   }
   .contact__button{
     flex: 1 1 auto;
     margin-top: 10px;
    }
}
.contact__text {
   font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}
.contact__button {
   font-weight: 700;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
padding: 15px 40px;
background: #FF7B47;
border-radius: 5px;
transition: background-color 0.3s ease 0s;
}
.contact__button:hover {
	background-color: #aa5330;
}

.footer {
}
.footer__top {
	background: #17213c;
	padding: 35px 0;
}
.footer__main {
}
.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}
.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.6667%;
}
.footer__column:last-child {
	flex: 0 1 33.334%;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 50%;
	}
}

.footer__label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0px 0px 20px 0px;
}
.footer__menu {
}

.menu-footer {
}
.footer__menu-list {
}
.footer__menu-item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.footer__menu-link {
	color: #fff;
	display: inline-block;
	line-height: 171%;
	letter-spacing: 0.2px;
}
.footer__menu-link:hover {
	text-decoration: underline;
}

.footer__contacts {
}

.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	padding: 0px 0px 0px 34px;
	line-height: 142%;
	display: flex;
	align-items: center;
	color: #ffffff;
	min-height: 30px;
}
.contacts-footer__item:hover {
	text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.contacts-footer__item_phone {
	background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
	background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
	background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}
.footer__bottom {
	padding: 25px 0;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copy {
	color: #737373;
	line-height: 171%;
}
.footer__social {
}

.social {
	display: flex;
	align-items: center;
}
.social__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		margin: 0px 0px 15px 0px;
		text-align: center;
	}
}
